<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container position-relative d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center" aria-label="Swift Designs Studio Home">
      <img src="/assets/img/logo-white.png" class="main-logo" alt="Swift Designs Studio">
    </a>

    <div class="header-right d-flex align-items-center">
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html" class="nav-link active">Home</a></li>
          <li><a href="services.html" class="nav-link">Services</a></li>
          <li><a href="work.html" class="nav-link">Work</a></li>
          <li><a href="about.html" class="nav-link">About</a></li>
          <li><a href="contact.html" class="nav-link">Contact</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="contact.html">Book a Growth Call</a>
    </div>

  </div>
</header>